*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #49F065;
    --dark-detail: #021505;
    --light-blue: #47D4F0;
    --dark-blue: #F047D4;
    --pink: #F0479C;
    --brown: #F06347;
}
body{
    background-color: var(--background);
    position: relative;
}
.backpack{
    width: 100%;
    position: fixed;
    bottom: -400px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: 0.3s;
    z-index: 20;
}
.backpack-open{
    bottom: 0;
}
.bp-switch{
    width: 100px;
    height: 100px;
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
}
.bp-icon-placeholder{
    width: 90px;
    height: 90px;
    background-color: var(--dark-detail);
}
.bp-content{
    height: 400px;
    width: 100%;
    background-color: var(--brown);
}
.game-area{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}
.box{
    height: 100px;
    width: 100px;
    background-color: var(--dark-blue);
    position: absolute;
    top: 500px;
    left: 40px;
    cursor: pointer;
}
